<div class="container page_top">
  <ul>
    <li><%= link_to("今から書く","/battles/edit") %></li>
    <li><%= link_to("既に書いたDokkanを利用する","/battles/choice")%></li>
    <li><%= link_to("新しい本と出出会う","#") %></li>
  </ul>
</div>
